/* GLOBAL */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: black;
  color: white;
  padding: 0;
  margin: 0;
  background: linear-gradient(
    to right,
    rgb(8, 208, 243),
    rgb(19, 1, 124),
    blue
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: BurbankBigRegular-Black;
  src: url("./BurbankBigRegular-Black.otf") format("opentype");
}

.title {
  font-size: 4rem;
  padding: 20px;
  padding-top: 40px;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  font-family: BurbankBigRegular-Black, sens-serif;
}

h2 {
  font-family: BurbankBigRegular-Black, sens-serif;
  margin: 10px;
}

h3 {
  font-family: BurbankBigRegular-Black, sens-serif;
}

p {
  font-family: BurbankBigRegular-Black, sens-serif;
}

/* Filter */
.filter {
  max-width: 750px;
  margin: auto;
}

.filter div {
  display: inline-block;
  margin: 10px;
}

.filter input {
  margin: 2px;
}

/* Items */

.item {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border: black solid 10px;
}

.common {
  background: linear-gradient(#596269, rgb(51, 51, 51));
}

.uncommon {
  background: linear-gradient(#016604, rgb(0, 182, 0));
}

.rare {
  background: linear-gradient(#086bab 50%, rgb(0, 225, 255));
}

.epic {
  background: linear-gradient(#5909c1 50%, rgb(175, 107, 253));
}

.legendary {
  background: #ab3d0b;
}

.mythic {
  background: #565f5c;
}

.exotic {
  background: #4c84b6;
}
